@page
@model Pizzeria_Toscana.Areas.Identity.Pages.Account.Manage.ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pizzeria Toscana - Change Password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="~/css/profile.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <style>
        .status-message {
            text-align: center;
            color: green;
            margin-bottom: 20px;
        }
    </style>
</head>

<body class="basic-body">
    <header class="header-nav">
        <nav class="navbar">

            <div class="nav-left">
                <a asp-page="/Index" class="logo">
                    <img src="~/imagini/LogoToscana.png" alt="Logo Pizzeria Toscana">
                </a>
                <a href="@Url.Action("Index", "Home")"><i class="fas fa-home icon-home"></i>Home</a>
                <a href="@Url.Action("Index", "Meniu")"><i class='bx bxs-food-menu'></i>Meniu</a>
                <a href="@Url.Action("Index", "Cos")"><i class="fa fa-shopping-cart"></i>Cos</a>
                <a href="@Url.Action("Index", "WishList")"><i class="fa fa-heart"></i>WishList</a>
                <a href="@Url.Action("Index", "IstoricComenzi")"><i class="fa fa-history"></i>IstoricComenzi</a>

                <a href="@Url.Page("/Account/Manage/Index", new { area = "Identity" })"><i class="bx bx-cog"></i>Setari</a>
            </div>
        </nav>
        <div class="">
            <partial name="_LoginPartial" />

        </div>
    </header>

    <div class="profile-container fixed-size">
        <div class="profile-leftbox">
            <nav class="profile-nav">
                <a href="/Identity/Account/Manage/Index" id="infoLink" data-target="profile" data-title="Pizzeria Toscana/Profile - Personal Info">
                    <i class="fa fa-user"></i>
                </a>
                <a href="#" id="passwordLink" data-title="Change Password">
                    <i class="fa fa-key"></i>
                </a>
            </nav>
        </div>
        <div class="profile-rightbox" id="profile-rightbox">
            <div class="profile" id="profile">
                <h1>Change Password</h1>
                @if (!string.IsNullOrEmpty(Model.StatusMessage))
                {
                    <div class="status-message">@Model.StatusMessage</div>
                }
                <form id="change-password-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <label asp-for="Input.OldPassword" class="form-label"></label>
                        <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Old Password" />
                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <label asp-for="Input.NewPassword" class="form-label"></label>
                        <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="New Password" />
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm New Password" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Update Password</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}